<!-- Heading -->
<h1 class="mt-5 pt-5">Groendienst Zones <em class="float-end far fa-question-circle help mt-3" data-bs-toggle="collapse"
    data-bs-target="#help" aria-expanded="false" aria-controls="help"></em></h1>
<hr>

<!-- Help -->
<!-- TODO: handleiding invullen -->
<div class="collapse mb-3" id="help">
  <div class="card">
    <div class="card-header">Handleiding Groendienst Zones</div>
    <div class="card-body">
      <p class="my-2 p-0">Korte handleiding met wat extra uitleg over hoe deze pagina werkt. (+ evt ondersteunende
        afbeeldingen)</p>
      <p class="my-2 p-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut iste animi id ducimus ea obcaecati
        nesciunt, suscipitest necessitatibus culpa quis odit, quod optio officia sequi amet laboriosam consequatur
        deleniti.</p>
      <p class="my-2 p-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut iste animi id ducimus ea obcaecati
        nesciunt, suscipitest necessitatibus culpa quis odit, quod optio officia sequi amet laboriosam consequatur
        deleniti.</p>
      <p class="my-2 p-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut iste animi id ducimus ea obcaecati
        nesciunt, suscipitest necessitatibus culpa quis odit, quod optio officia sequi amet laboriosam consequatur
        deleniti.</p>
    </div>
  </div>
</div>

<!-- Content -->

<div class="d-grid mt-1">
  <div class="card mb-3">
    <div class="card-body">
      <div class="overflow-auto">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Naam</th>
              <th scope="col">Beschrijving</th>
              <th scope="col">Acties</th>
            </tr>
          </thead>
          <tbody *ngIf="zones.length == 0">
            <tr>
              <th colspan="5" scope="row">
                <div class="d-flex justify-content-center my-2">
                  <div class="d-flex align-items-center">
                    <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
                  </div>
                </div>
              </th>
            </tr>
          </tbody>
          <tbody *ngIf="zones.length > 0">
            <tr *ngFor="let zone of zones; let i = index">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ zone.name }}</td>
              <td>{{ zone.description }}</td>
              <td>
                <em class="far fa-edit actions mr-4"></em>
                <em class="far fa-trash-alt actions mx-3" (click)="deleteDialog(zone)"></em>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
