<!-- Heading -->
<h1 class="mt-5 pt-5">Participatie Dashboard <em class="float-end far fa-question-circle help mt-3"
    data-bs-toggle="collapse" data-bs-target="#help" aria-expanded="false" aria-controls="help"></em></h1>
<hr>

<!-- Help -->
<div class="collapse mb-3" id="help">
  <div class="card">
    <div class="card-header">Handleiding Participatie Dashboard</div>
    <div class="card-body">
      <p class="my-2 p-0">Op deze pagina vindt u een overzicht van alle bestaande enquêtes.</p>
      <p class="my-2 p-0">Met onderstaande zoekbalk kan u een specifieke enquête zoeken op basis van de naam, of kan u
        de enquêtes filteren met de dropdownlist op basis van de gebruiker die de enquête heeft aangemaakt.</p>
      <p class="my-2 p-0">De start- en einddatums tonen aan in welke periode een enquête op de kiosk beschikbaar zal
        zijn om in te vullen door de burgers. Bij een snelle bevraging kunnen de vragen op de homepagina van de kiosk
        worden getoond, en snel worden ingevuld door de gebruiker.</p>
      <p class="my-2 p-0">Via de acties aan de rechterzijde van de tabel kan u een enquête aanpassen of volledig
        verwijderen.</p>
      <p class="my-2 p-0">Ten slotte kan u een nieuwe enquête aanmaken via de knop "enquête toevoegen" onderaan.</p>
    </div>
  </div>
</div>

<!-- Content -->

<!-- Zoekbalk -->
<div class="row mb-3">
  <div class="col-12 col-lg-8">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="search" placeholder="Zoeken" [(ngModel)]="searchWord"
        (ngModelChange)="filterSurveys()">
      <label for="search">Zoeken</label>
    </div>
  </div>
  <div class="col-12 col-lg-4">
    <div class="form-floating">
      <select class="form-select" id="floatingSelect" [(ngModel)]="searchUserID" (change)="filterSurveys()">
        <option selected value="0">Alle gebruikers</option>
        <option *ngFor="let user of users" [value]="user.id">
          {{ user.first_name + ' ' + user.last_name }}
        </option>
      </select>
      <label for="floatingSelect">Aangemaakt door</label>
    </div>
  </div>
</div>

<!-- Tabel -->
<div class="d-grid">
  <div class="card mb-3">
    <div class="card-body">
      <div class="overflow-auto">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Titel</th>
              <th scope="col">Startdatum</th>
              <th scope="col">Einddatum</th>
              <th scope="col">Snelle bevraging</th>
              <th scope="col">Aangemaakt door</th>
              <th scope="col">Aangemaakt op</th>
              <th scope="col">Acties</th>
            </tr>
          </thead>
          <tbody *ngIf="surveys.length == 0 && loadingSurveys">
            <tr>
              <th colspan="8" scope="row">
                <div class="d-flex justify-content-center my-2">
                  <div class="d-flex align-items-center">
                    <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
                  </div>
                </div>
              </th>
            </tr>
          </tbody>
          <tbody *ngIf="surveys.length == 0 && !loadingSurveys">
            <tr>
              <th colspan="8" scope="row">
                <div class="d-flex justify-content-center my-2">
                  <div class="text-center">
                    <p class="mb-0 pb-0">Geen enquêtes gevonden.</p>
                    <p class="link mt-0 pt-0" (click)="loadSurveys()">Vernieuwen</p>
                  </div>
                </div>
              </th>
            </tr>
          </tbody>
          <tbody *ngIf="surveys.length > 0 && !loadingSurveys">
            <tr *ngFor="let survey of surveys; let i = index">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ (survey.name) || "N/A" }}</td>
              <td>{{ (survey.start_date | date:'dd-MM-yyyy') || "N/A" }}</td>
              <td>{{ (survey.end_date | date:'dd-MM-yyyy') || "N/A" }}</td>
              <td>{{ survey.quick_survey==1 ? 'Ja' : 'Nee' }}</td>
              <td>{{ (survey.user.first_name + ' '+ survey.user.last_name) || "N/A" }}</td>
              <td>{{ (survey.created_at | date:'dd-MM-yyyy') || "N/A" }}</td>
              <td>
                <em class="far fa-edit actions mr-4" (click)="editSurvey(survey.id)"></em>
                <em class="far fa-trash-alt actions mx-3" (click)="deleteDialog(survey)"></em>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <a class="btn btn-primary btn-md mb-3 text-uppercase" (click)="redirectTo('/participatie/enquete-toevoegen')">Enquete
    toevoegen</a>
</div>

<div class="iframe-container mt-5">
  <iframe src="https://testyentl.sinners.be/enquetes" title="trash-dashboard"></iframe>
</div>
