<!-- Heading -->
<h1 class="mt-5 pt-5">Participatie Dashboard <em class="float-end far fa-question-circle help mt-3"
    data-bs-toggle="collapse" data-bs-target="#help" aria-expanded="false" aria-controls="help"></em></h1>
<hr>

<!-- Help -->
<!-- TODO: handleiding invullen -->
<div class="collapse mb-3" id="help">
  <div class="card">
    <div class="card-header">Handleiding Participatie Dashboard</div>
    <div class="card-body">
      <p class="my-2 p-0">Korte handleiding met wat extra uitleg over hoe deze pagina werkt. (+ evt ondersteunende
        afbeeldingen)</p>
      <p class="my-2 p-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut iste animi id ducimus ea obcaecati
        nesciunt, suscipitest necessitatibus culpa quis odit, quod optio officia sequi amet laboriosam consequatur
        deleniti.</p>
      <p class="my-2 p-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut iste animi id ducimus ea obcaecati
        nesciunt, suscipitest necessitatibus culpa quis odit, quod optio officia sequi amet laboriosam consequatur
        deleniti.</p>
      <p class="my-2 p-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut iste animi id ducimus ea obcaecati
        nesciunt, suscipitest necessitatibus culpa quis odit, quod optio officia sequi amet laboriosam consequatur
        deleniti.</p>
    </div>
  </div>
</div>

<!-- Content -->

<!-- Zoekbalk -->
<div class="row mb-3">
  <div class="col-12 col-lg-8">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="search" placeholder="Zoeken">
      <label for="search">Zoeken</label>
    </div>
  </div>
  <div class="col-12 col-lg-4">
    <div class="form-floating">
      <select class="form-select" id="floatingSelect">
        <option selected>Kies persoon</option>
        <option value="1">Emma Timmermans</option>
        <option value="2">Bert Maes</option>
      </select>
      <label for="floatingSelect">Aangemaakt door</label>
    </div>
  </div>
</div>

<!-- Tabel -->
<div class="d-grid">
  <div class="card mb-3">
    <div class="card-body">
      <div class="overflow-auto">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Titel</th>
              <th scope="col">Startdatum</th>
              <th scope="col">Einddatum</th>
              <th scope="col">Aangemaakt door</th>
              <th scope="col">Aangemaakt op</th>
              <th scope="col">Acties</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Tevredenheidsenquete</td>
              <td>01-01-2021</td>
              <td>31-01-2021</td>
              <td>Emma Timmermans</td>
              <td>30-12-2020</td>
              <td>
                <em class="far fa-edit actions mr-4"></em>
                <em class="far fa-trash-alt actions mx-3"></em>
              </td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Feedback vuilbakken</td>
              <td>01-02-2021</td>
              <td>15-03-2021</td>
              <td>Bert Maes</td>
              <td>20-01-2021</td>
              <td>
                <em class="far fa-edit actions mr-4"></em>
                <em class="far fa-trash-alt actions mx-3"></em>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <a class="btn btn-primary btn-md mb-3" (click)="redirectTo('/participatie/enquete-toevoegen')">Enquete toevoegen</a>
</div>
