<!-- Heading -->
<h1 class="mt-5 pt-5">Communicatie Dashboard <em class="float-end far fa-question-circle help mt-3"
    data-bs-toggle="collapse" data-bs-target="#help" aria-expanded="false" aria-controls="help"></em></h1>
<hr>

<!-- Help -->
<!-- TODO: handleiding invullen -->
<div class="collapse mb-3" id="help">
  <div class="card">
    <div class="card-header">Handleiding Communicatie Dashboard</div>
    <div class="card-body">
      <p class="my-2 p-0">Korte handleiding met wat extra uitleg over hoe deze pagina werkt. (+ evt ondersteunende
        afbeeldingen)</p>
      <p class="my-2 p-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut iste animi id ducimus ea obcaecati
        nesciunt, suscipitest necessitatibus culpa quis odit, quod optio officia sequi amet laboriosam consequatur
        deleniti.</p>
      <p class="my-2 p-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut iste animi id ducimus ea obcaecati
        nesciunt, suscipitest necessitatibus culpa quis odit, quod optio officia sequi amet laboriosam consequatur
        deleniti.</p>
      <p class="my-2 p-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut iste animi id ducimus ea obcaecati
        nesciunt, suscipitest necessitatibus culpa quis odit, quod optio officia sequi amet laboriosam consequatur
        deleniti.</p>
    </div>

  </div>
</div>

<!-- Content -->

<!-- Zoekbalk -->
<div class="row mb-3">
  <div class="col-12 col-lg-8">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="search" placeholder="Zoeken" [(ngModel)]="searchWord"
        (ngModelChange)="filterMessages()">
      <label for="search">Zoeken</label>
    </div>
  </div>
  <div class="col-12 col-lg-4">
    <div class="form-floating">
      <select class="form-select" id="floatingSelect" [(ngModel)]="searchUserID" (ngModelChange)="filterMessages()">
        <option selected value="0">Alle gebruikers</option>
        <option *ngFor="let user of users" [value]="user.id">{{ user.first_name }} {{ user.last_name }}</option>
      </select>
      <label for="floatingSelect">Aangemaakt door</label>
    </div>
  </div>
</div>

<!-- Tabel -->
<div class="d-grid">
  <div class="card mb-3">
    <div class="card-body">
      <div class="overflow-auto">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Titel</th>
              <th scope="col">Toegevoegd door</th>
              <th scope="col">Toegevoegd op</th>
              <th scope="col">Acties</th>
            </tr>
          </thead>
          <tbody *ngIf="messages.length == 0">
            <tr>
              <th colspan="5" scope="row">
                <div class="d-flex justify-content-center my-2">
                  <div class="d-flex align-items-center">
                    <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
                  </div>
                </div>
              </th>
            </tr>
          </tbody>
          <tbody *ngIf="messages.length > 0">
            <tr *ngFor="let message of messages; let i = index">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ message.title }}</td>
              <td>{{ message.user.first_name }} {{ message.user.last_name }}</td>
              <td>{{ message.created_at | date:'dd-MM-yyyy' }}</td>
              <td>
                <em class="far fa-edit actions mr-4" (click)="editMessage(message.id)"></em>
                <em class="far fa-trash-alt actions mx-3" (click)="deleteDialog(message)"></em>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <a class="btn btn-primary btn-md mb-3 text-uppercase" (click)="redirectTo('/communicatie/bericht-toevoegen')">Bericht
    toevoegen</a>
</div>

<div class="modal-dialog modal-dialog-scrollable" id="deleteModal">
  ...
</div>
