<!-- Heading -->
<h1 class="mt-5 pt-5">Zone Toevoegen <em class="float-end far fa-question-circle help mt-3" data-bs-toggle="collapse"
    data-bs-target="#help" aria-expanded="false" aria-controls="help"></em></h1>
<hr>

<!-- Help -->
<div class="collapse mb-3" id="help">
  <div class="card">
    <div class="card-header">Handleiding Zone Toevoegen</div>
    <div class="card-body">
      <p class="my-2 p-0">In dit formulier kan een zone worden toegevoegd.</p>
      <p class="my-2 p-0">Door onderaan op de knop "zone toevoegen" te klikken, sla je de zone op.</p>
    </div>
  </div>
</div>

<!-- Content -->
<div class="mb-3">
  <label for="name" class="form-label">Naam</label>
  <input type="text" class="form-control" id="name" [(ngModel)]="zone.name">
</div>

<div class="mb-3">
  <label for="description" class="form-label">Beschrijving</label>
  <textarea class="form-control" id="description" rows="2" [(ngModel)]="zone.description"></textarea>
</div>

<div class="row mb-5">
  <div class="col">
    <button type="button" class="btn btn-primary mt-3 text-uppercase" (click)="addZone()" *ngIf="! loading">
      <span> Zone toevoegen</span>
    </button>
    <button class="btn btn-primary mt-3 text-uppercase" type="button" disabled *ngIf="loading">
      <span class="spinner-border spinner-border-sm mb-1" role="status" aria-hidden="true"></span>
      Laden...
    </button>
  </div>
</div>
