<!-- Heading -->
<h1 class="mt-5 pt-5">Profiel <em class="float-end far fa-question-circle help mt-3" data-bs-toggle="collapse"
    data-bs-target="#help" aria-expanded="false" aria-controls="help"></em></h1>
<hr>

<!-- Help -->
<!-- TODO: handleiding invullen -->
<div class="collapse mb-3" id="help">
  <div class="card">
    <div class="card-header">Handleiding Profiel</div>
    <div class="card-body">
      <p class="my-2 p-0">Korte handleiding met wat extra uitleg over hoe deze pagina werkt. (+ evt ondersteunende
        afbeeldingen)</p>
      <p class="my-2 p-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut iste animi id ducimus ea obcaecati
        nesciunt, suscipitest necessitatibus culpa quis odit, quod optio officia sequi amet laboriosam consequatur
        deleniti.</p>
      <p class="my-2 p-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut iste animi id ducimus ea obcaecati
        nesciunt, suscipitest necessitatibus culpa quis odit, quod optio officia sequi amet laboriosam consequatur
        deleniti.</p>
      <p class="my-2 p-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut iste animi id ducimus ea obcaecati
        nesciunt, suscipitest necessitatibus culpa quis odit, quod optio officia sequi amet laboriosam consequatur
        deleniti.</p>
    </div>
  </div>
</div>

<!-- Content -->

<!-- Details -->
<h2 class="mt-5 h3">Details</h2>
<hr>
<div class="row">
  <div class="col-lg">
    <div class="mb-3">
      <label for="firstName" class="form-label">Voornaam</label>
      <input type="text" class="form-control" id="firstName" value="Rita" readonly disabled>
    </div>
  </div>
  <div class="col-lg">
    <div class="mb-3">
      <label for="lastName" class="form-label">Familienaam</label>
      <input type="text" class="form-control" id="lastName" value="Peeters" readonly disabled>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg">
    <div class="mb-3">
      <label for="email" class="form-label">Emailadres</label>
      <input type="email" class="form-control" id="email" value="rita.peeters@herentals.be" readonly disabled>
    </div>
  </div>
  <div class="col-lg">
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input type="text" class="form-control" id="username" value="rita.peeters" readonly disabled>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg">
    <div class="mb-3">
      <label for="rol" class="form-label">Rol</label>
      <select class="form-select" id="rol" disabled>
        <option value="0">Kies Rol</option>
        <option value="1">Groendienst</option>
        <option value="2" selected>Communicatie</option>
        <option value="3">Participatie</option>
      </select>
    </div>
  </div>
  <div class="col-lg">
    <div class="mb-3">
      <label for="createdOn" class="form-label">Aangemaakt op</label>
      <input type="text" class="form-control" id="createdOn" value="11-04-2008" readonly disabled>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="form-check mb-3 mt-3">
      <input class="form-check-input" type="checkbox" value="" id="admin" checked disabled>
      <label class="form-check-label" for="admin">
        Admin
      </label>
    </div>
  </div>
</div>
<div class="row mb-5">
  <div class="col">
    <button type="button" class="btn btn-primary mt-3 text-uppercase">Wijzig profiel</button>
  </div>
</div>

<!-- Change Password -->
<h2 class="mt-5 h3">Wachtwoord wijzigen</h2>
<hr>
<div class="row">
  <div class="col-lg-6">
    <div class="mb-3">
      <label for="oldPw" class="form-label">Huidig wachtwoord</label>
      <input type="password" class="form-control" id="oldPw">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
    <div class="mb-3">
      <label for="newPw" class="form-label">Nieuw wachtwoord</label>
      <input type="password" class="form-control" id="newPw">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
    <div class="mb-3">
      <label for="newPWRepeat" class="form-label">Herhaal nieuw wachtwoord</label>
      <input type="password" class="form-control" id="newPwRepeat">
    </div>
  </div>
</div>
<div class="row mb-5">
  <div class="col">
    <button type="button" class="btn btn-primary mt-3 text-uppercase">Wijzig wachtwoord</button>
  </div>
</div>
