<!-- Heading -->
<h1 class="mt-5 pt-5">Stadsnieuws <em class="float-end far fa-question-circle help mt-3" data-bs-toggle="collapse"
    data-bs-target="#help" aria-expanded="false" aria-controls="help"></em></h1>
<hr>

<!-- Help -->
<div class="collapse mb-3" id="help">
  <div class="card">
    <div class="card-header">Handleiding Stadsnieuws</div>
    <div class="card-body">
      <p class="my-2 p-0">In dit overzicht ziet u alle belangrijke info over stad Herentals. Klik op een bericht om het
        volledige artikel te lezen.</p>
    </div>

  </div>
</div>

<!-- Content -->
<div class="mb-3">
  <p (click)="redirectTo()" class="link">&#8630; Terug naar home</p>
</div>

<div class="row">
  <div *ngIf="messages.length == 0">
    <div class="text-center mt-5">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </div>
  <div class="col-lg-4 mb-3" *ngFor="let message of messages">
    <div class="card w-100 clickable-card" (click)="goToMessage(message.id)">
      <div class="card-body">
        <h5 class="card-title">{{ message.title }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ message.created_at | date:'dd-MM-yyyy' }}</h6>
        <a class="card-link">Meer info</a>
      </div>
    </div>
  </div>
</div>
