<div class="text-center">
  <main class="form-signin">
    <form>
      <img class="mb-4" src="/assets/img/herentals_smart_city.svg" alt="Herentals Smart City" width="auto" height="130">
      <h1 class="h3 mb-3 fw-normal">Inloggen</h1>
      <div class="mb-1">
        <label for="inputUsername" class="visually-hidden">Username</label>
        <input type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
      </div>
      <div class="mb-3">
        <label for="inputPassword" class="visually-hidden">Wachtwoord</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Wachtwoord" required>
      </div>
      <button class="w-100 btn btn-lg btn-primary text-uppercase" type="submit">Log in</button>
    </form>
  </main>
</div>
