<!-- Heading -->
<h1 class="mt-5 pt-5">Enquête Bewerken <em class="float-end far fa-question-circle help mt-3" data-bs-toggle="collapse"
    data-bs-target="#help" aria-expanded="false" aria-controls="help"></em></h1>
<hr>
<!-- Help -->
<!-- TODO: handleiding invullen -->
<div class="collapse mb-3" id="help">
  <div class="card">
    <div class="card-header">Handleiding Enquete toevoegen</div>
    <div class="card-body">
      <p class="my-2 p-0">Korte handleiding met wat extra uitleg over hoe deze pagina werkt. (+ evt ondersteunende
        afbeeldingen)</p>
      <p class="my-2 p-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut iste animi id ducimus ea
        obcaecati
        nesciunt, suscipitest necessitatibus culpa quis odit, quod optio officia sequi amet laboriosam consequatur
        deleniti.</p>
      <p class="my-2 p-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut iste animi id ducimus ea
        obcaecati
        nesciunt, suscipitest necessitatibus culpa quis odit, quod optio officia sequi amet laboriosam consequatur
        deleniti.</p>
      <p class="my-2 p-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut iste animi id ducimus ea
        obcaecati
        nesciunt, suscipitest necessitatibus culpa quis odit, quod optio officia sequi amet laboriosam consequatur
        deleniti.</p>
    </div>
  </div>
</div>
<div *ngIf="survey">
  <!-- Content -->

  <h2 class="mt-5 h3">Algemeen</h2>
  <hr>
  <!-- Survey Info -->
  <div class="mb-3">
    <label for="title" class="form-label">Titel</label>
    <input type="text" class="form-control" id="surveyTitle" [(ngModel)]="survey.name">
  </div>
  <div class="mb-3">
    <label for="description" class="form-label">Beschrijving</label>
    <textarea class="form-control" id="surveyDescription" rows="3" [(ngModel)]="survey.description"></textarea>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="mb-3">
        <label for="surveyStartDate" class="form-label">Start datum</label>
        <input type="datetime-local" class="form-control" id="surveyStartDate" [(ngModel)]="start_date" (change)="survey.start_date = parseDate(start_date)">
      </div>
    </div>

    <div class="col-6">
      <div class="mb-3">
        <label for="surveyEndDate" class="form-label">Eind datum</label>
        <input type="datetime-local" class="form-control" id="surveyEndDate" [(ngModel)]="end_date" (change)="survey.end_date = parseDate(end_date)">
      </div>
    </div>
  </div>

  <h2 class="mt-5 h3">Vragen
    <em class="float-end far fa-plus-square mt-2" (click)="addQuestion()"></em>
  </h2>
  <hr>
  <div *ngIf="allQuestions">
    <!-- Question List -->
  <div class="card shadow-sm mb-3" *ngFor="let question of allQuestions; let i = index">
    <!-- Card header/collapse button -->
    <div class="card-header" role="button" data-bs-toggle="collapse" attr.data-bs-target="#collapseQuestion{{i}}"
      aria-expanded="true">
      vraag {{ question.question_order }} : {{ question.title }}
      <em class="far fa-trash-alt float-end mt-1" (click)="deleteQuestionConfirmation(question)"></em>
    </div>
    <!-- Card body/collapse area -->
    <div class="collapse show" id="collapseQuestion{{i}}">
      <div class="card-body">
        <div class="p-4">
          <!-- Question Info -->
          <div class="mb-3">
            <label for="title" class="form-label">Titel</label>
            <input type="text" class="form-control" [(ngModel)]="question.title">
          </div>
          <div class="mb-3">
            <label for="description" class="form-label">Extra info</label>
            <textarea class="form-control" rows="2" [(ngModel)]="question.description"></textarea>
          </div>
          <!-- Question Type -->
          <div class="form-check">
            <input class="form-check-input" type="radio" name="questionType{{i}}" id="openQuestion{{i}}"
              [disabled]="question.multiplechoice_items && question.multiplechoice_items.length > 0"
              [checked]="isOpenQuestion(question)" (click)="makeQuestionOpen(question)">
            <label class="form-check-label" for="openQuestion{{i}}">
              Open vraag
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="questionType{{i}}" id="multiQuestion{{i}}"
              [checked]="!isOpenQuestion(question)" (click)="makeQuestionMulti(question)">
            <label class="form-check-label" for="multiQuestion{{i}}">
              Multiple choice vraag
            </label>
          </div>
          <!-- Question Multiple answers possible -->
          <div class="form-check" *ngIf="!isOpenQuestion(question)">
            <input class="form-check-input" type="checkbox" name="multiAnswer{{i}}" id="multiAnswer{{i}}"
              [(ngModel)]="question.multiple_answers">
            <label class="form-check-label" for="multiAnswer">
              Meerdere antwoorden mogelijk
            </label>
          </div>
          <!-- Multiple choice items-->
          <div class="card mt-3" *ngIf="!isOpenQuestion(question)">
            <div class="card-header">Antwoorden:</div>
            <div class="card-body">
              <div class="p-4">
                <div class="mb-3" *ngFor="let item of question.multiplechoice_items; let j = index">
                  <em class="far fa-trash-alt float-end mt-1" (click)="deleteAnswer(question, j)"></em>
                  <label for="answer1" class="form-label">Antwoord {{ j + 1 }} </label>
                  <input type="text" class="form-control" [(ngModel)]="item.title">
                </div>
                <!-- Add multiple choice item -->
                <p class="h3"><em class="fas fa-plus-circle" (click)="addAnswer(question)"></em></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

  <button type="button" class="btn btn-primary mt-3 text-uppercase" (click)="addQuestion()">Vraag toevoegen</button>

  <div class="d-grid mt-5">
    <button type="button" class="btn btn-primary mt-3 text-uppercase" (click)="saveSurvey()">Enquête opslaan</button>
  </div>
</div>