<!-- Heading -->
<h1 class="mt-5 pt-5">Admin Dashboard <em class="float-end far fa-question-circle help mt-3" data-bs-toggle="collapse"
    data-bs-target="#help" aria-expanded="false" aria-controls="help"></em></h1>
<hr>

<!-- Help -->
<!-- TODO: handleiding invullen -->
<div class="collapse mb-3" id="help">
  <div class="card">
    <div class="card-header">Handleiding Admin Dashboard</div>
    <div class="card-body">
      <p class="my-2 p-0">Op deze pagina vindt u een overzicht van alle bestaande gebruikers.</p>
      <p class="my-2 p-0">Met onderstaande zoekbalk kan u een specifieke gebruiker zoeken op basis van de voornaam of
        familienaam, of kan u
        de enquêtes filteren met de dropdownlist op basis van de rol van de gebruiker.</p>
      <p class="my-2 p-0">Via de acties aan de rechterzijde van de tabel kan u een gebruiker aanpassen of volledig
        verwijderen.</p>
      <p class="my-2 p-0">Ten slotte kan u een nieuwe gebruiker aanmaken via de knop "gebruiker toevoegen" onderaan.</p>
    </div>
  </div>
</div>

<!-- Content -->

<!-- Zoekbalk -->
<div class="row mb-3">
  <div class="col-12 col-lg-8">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="search" placeholder="Zoeken" [(ngModel)]="searchWord"
        (ngModelChange)="filterUsers()">
      <label for="search">Zoeken</label>
    </div>
  </div>
  <div class="col-12 col-lg-4">
    <div class="form-floating">
      <select class="form-select" id="floatingSelect" [(ngModel)]="searchRoleID" (change)="filterUsers()">
        <option value="0" selected>Alle Rollen</option>
        <option value="4">Admin</option>
        <option value="1">Groendienst</option>
        <option value="2">Participatie</option>
        <option value="3">Communicatie</option>
      </select>
      <label for="floatingSelect">Kies rol</label>
    </div>
  </div>
</div>

<!-- Tabel -->
<div class="d-grid">
  <div class="card mb-3">
    <div class="card-body">
      <div class="overflow-auto">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Voornaam</th>
              <th scope="col">Familienaam</th>
              <th scope="col">Emailadres</th>
              <th scope="col">Username</th>
              <th scope="col">Rollen</th>
              <th scope="col">Externe</th>
              <th scope="col">Aangemaakt op</th>
              <th scope="col">Acties</th>
            </tr>
          </thead>
          <tbody *ngIf="users.length == 0 && loadingUsers">
            <tr>
              <th colspan="9" scope="row">
                <div class="d-flex justify-content-center my-2">
                  <div class="d-flex align-items-center">
                    <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
                  </div>
                </div>
              </th>
            </tr>
          </tbody>
          <tbody *ngIf="users.length == 0 && !loadingUsers">
            <tr>
              <th colspan="9" scope="row">
                <div class="d-flex justify-content-center my-2">
                  <div class="text-center">
                    <p class="mb-0 pb-0">Geen gebruikers gevonden.</p>
                    <p class="link mt-0 pt-0" (click)="loadUsers()">Vernieuwen</p>
                  </div>
                </div>
              </th>
            </tr>
          </tbody>
          <tbody *ngIf="users.length > 0 && !loadingUsers">
            <tr *ngFor="let user of users; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ user.first_name }}</td>
              <td>{{ user.last_name }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.username }}</td>
              <td>
                <span *ngFor="let user_role of user.user_roles; let j = index">
                  {{ user_role.role?.name?.substring(0,3) }}{{ user.user_roles && user.user_roles.length > j+1 ? ',': ''}}
                </span>
              </td>
              <td>{{ user.is_extern==1 ? 'Ja': 'Nee'}}</td>
              <td>{{ user.created_at | date:'dd-MM-yyyy'}}</td>
              <td>
                <em class="far fa-edit actions mr-4" (click)="editUser(user.id)"></em>
                <em class="far fa-trash-alt actions mx-3" *ngIf="user.id != loggedInUser.id"
                  (click)="deleteDialog(user)"></em>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <a class="btn btn-primary btn-md mb-3 text-uppercase" (click)="redirectTo('/admin/gebruiker-toevoegen')">Gebruiker
    toevoegen</a>
</div>
