<div class="container position-fixed bottom-0 end-0 alert-container pb-2">
  <div class="row" *ngFor="let alert of alerts">
    <div class="col-12 col-md-10 offset-md-2 col-lg-6 offset-lg-6 col-xl-4 offset-xl-8">
      <div class="alert fade show mb-0 mt-2 {{cssClass(alert)}}" role="alert">
        <button type="button" class="btn-close float-end" (click)="removeAlert(alert)"></button>
        <h4 class="alert-heading">{{ alert.messageTitle }}</h4>
        {{ alert.messageBody }}
      </div>
    </div>
  </div>
</div>
