<!-- Heading -->
<h1 class="mt-5 pt-5">Bevraging Invullen <em class="float-end far fa-question-circle help mt-3"
    data-bs-toggle="collapse" data-bs-target="#help" aria-expanded="false" aria-controls="help"></em></h1>
<hr>

<!-- Help -->
<!-- TODO: handleiding invullen -->
<div class="collapse mb-3" id="help">
  <div class="card">
    <div class="card-header">Handleiding Bevraging Invullen</div>
    <div class="card-body">
      <p class="my-2 p-0">Korte handleiding met wat extra uitleg over hoe deze pagina werkt. (+ evt ondersteunende
        afbeeldingen)</p>
      <p class="my-2 p-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut iste animi id ducimus ea obcaecati
        nesciunt, suscipitest necessitatibus culpa quis odit, quod optio officia sequi amet laboriosam consequatur
        deleniti.</p>
      <p class="my-2 p-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut iste animi id ducimus ea obcaecati
        nesciunt, suscipitest necessitatibus culpa quis odit, quod optio officia sequi amet laboriosam consequatur
        deleniti.</p>
      <p class="my-2 p-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut iste animi id ducimus ea obcaecati
        nesciunt, suscipitest necessitatibus culpa quis odit, quod optio officia sequi amet laboriosam consequatur
        deleniti.</p>
    </div>

  </div>
</div>

<!-- Content -->

<div class="mb-3">
  <p (click)="redirectTo()" class="link">&#8630; Terug naar bevragingen</p>
</div>

<div *ngIf="loadingOQ || loadingMQ || loadingMQI">
  <div class="text-center mt-5">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</div>

<div class="card" *ngIf="!loadingOQ && !loadingMQ && !loadingMQI">
  <div class="card-header">
    <h2 class="h3">{{ survey.name }}</h2>
  </div>
  <div class="card-body">
    <div *ngFor="let question of questions; let i = index">
      <app-question [question]="question" [index]="i" [multiItems]="multiItems" [surveyID]="survey.id" #question>
      </app-question>
    </div>

    <div class="row mb-5">
      <div class="col">
        <button type="button" class="btn btn-primary mt-3 text-uppercase" (click)="saveAnswers()">
          <span> Opslaan en verzenden</span>
        </button>
        <!--         <button class="btn btn-primary mt-3 text-uppercase" type="button" disabled>
          <span class="spinner-border spinner-border-sm mb-1" role="status" aria-hidden="true"></span>
          Laden...
        </button> -->
      </div>
    </div>
  </div>
</div>
