<!-- Heading -->
<h1 class="mt-5 pt-5">Bevraging Invullen <em class="float-end far fa-question-circle help mt-3"
    data-bs-toggle="collapse" data-bs-target="#help" aria-expanded="false" aria-controls="help"></em></h1>
<hr>

<!-- Help -->
<!-- TODO: handleiding invullen -->
<div class="collapse mb-3" id="help">
  <div class="card">
    <div class="card-header">Handleiding Bevraging Invullen</div>
    <div class="card-body">
      <p class="my-2 p-0">Korte handleiding met wat extra uitleg over hoe deze pagina werkt. (+ evt ondersteunende
        afbeeldingen)</p>
      <p class="my-2 p-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut iste animi id ducimus ea obcaecati
        nesciunt, suscipitest necessitatibus culpa quis odit, quod optio officia sequi amet laboriosam consequatur
        deleniti.</p>
      <p class="my-2 p-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut iste animi id ducimus ea obcaecati
        nesciunt, suscipitest necessitatibus culpa quis odit, quod optio officia sequi amet laboriosam consequatur
        deleniti.</p>
      <p class="my-2 p-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut iste animi id ducimus ea obcaecati
        nesciunt, suscipitest necessitatibus culpa quis odit, quod optio officia sequi amet laboriosam consequatur
        deleniti.</p>
    </div>

  </div>
</div>

<!-- Content -->

<div class="mb-3">
  <p (click)="redirectTo()" class="link">&#8630; Terug naar bevragingen</p>
</div>

<div *ngIf="loadingOQ || loadingMQ || loadingMQI">
  <div class="text-center mt-5">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</div>

<div class="card" *ngIf="!loadingOQ && !loadingMQ && !loadingMQI">
  <div class="card-header">
    <h2 class="h3">{{ survey.name }}</h2>
  </div>
  <div class="card-body">
    <div *ngFor="let question of questions; let i = index">
      <div *ngIf="question.rows">
        <div class="mb-3 mt-3 pt-2">
          <label for="exampleFormControlInput1" class="form-label">{{ i + 1 }}. {{ question.title }}</label>
          <textarea type="text" class="form-control" id="exampleFormControlInput1"></textarea>
        </div>
      </div>
      <div *ngIf="!question.rows">
        <div *ngIf="question.multiple_answers == 1">
          <div class="mb-3 mt-3 pt-2">
            <label>{{ i + 1 }}. {{ question.title }}</label>
            <div *ngFor="let item of multiItems">
              <div class="form-check" *ngIf="item.multiplechoice_question_id == question.id">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  {{ item.title }}
                </label>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="question.multiple_answers == 0">
          <div class="mb-3 mt-3 pt-2">
            <label>{{ i + 1 }}. {{ question.title }}</label>
            <div *ngFor="let item of multiItems">
              <div class="form-check" *ngIf="item.multiplechoice_question_id == question.id">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                  {{ item.title }}
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
