<!-- Heading -->
<h1 class="mt-5 pt-5">Groendienst Dashboard <em class="float-end far fa-question-circle help mt-3"
    data-bs-toggle="collapse" data-bs-target="#help" aria-expanded="false" aria-controls="help"></em></h1>
<hr>

<!-- Help -->
<!-- TODO: handleiding invullen -->
<div class="collapse mb-3" id="help">
  <div class="card">
    <div class="card-header">Handleiding Groendienst Dashboard</div>
    <div class="card-body">
      <p class="my-2 p-0">Korte handleiding met wat extra uitleg over hoe deze pagina werkt. (+ evt ondersteunende
        afbeeldingen)</p>
      <p class="my-2 p-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut iste animi id ducimus ea obcaecati
        nesciunt, suscipitest necessitatibus culpa quis odit, quod optio officia sequi amet laboriosam consequatur
        deleniti.</p>
      <p class="my-2 p-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut iste animi id ducimus ea obcaecati
        nesciunt, suscipitest necessitatibus culpa quis odit, quod optio officia sequi amet laboriosam consequatur
        deleniti.</p>
      <p class="my-2 p-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut iste animi id ducimus ea obcaecati
        nesciunt, suscipitest necessitatibus culpa quis odit, quod optio officia sequi amet laboriosam consequatur
        deleniti.</p>
    </div>
  </div>
</div>

<!-- Content -->

<!-- Zoekbalk -->
<div class="row mb-1">
  <div class="col-12 col-lg-8">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="search" placeholder="Zoeken" [(ngModel)]="searchWord"
        (ngModelChange)="filterBinInfoList()">
      <label for="search">Zoeken</label>
    </div>
  </div>
  <div class="col-12 col-lg-4">
    <div class="form-floating">
      <select class="form-select" id="floatingSelect" [(ngModel)]="searchZoneID" (change)="filterBinInfoList()">
        <option selected value="0">Alle zones</option>
        <option *ngFor="let zone of zones" [value]="zone.id">{{zone.name}}</option>
      </select>
      <label for="floatingSelect">Kies zone</label>
    </div>
  </div>
</div>

<div class="row mt-3 mt-lg-2">
  <div class="col col-md-5 col-lg-4 col-xl-3 d-grid">
    <button type="button" class="btn btn-primary text-uppercase mb-3 px-5" (click)="loadNewBins()">Refreshen <i
        class="fas fa-sync-alt"></i></button>
  </div>
  <div class="col col-md-5 col-lg-4 col-xl-3 d-grid">
    <button type="button" class="btn btn-primary text-uppercase mb-3 px-5"
      (click)="redirectTo('/groendienst/zones')">Zones beheren</button>
  </div>
</div>


<!-- Tabel -->
<div class="d-grid mt-1">
  <div class="card mb-3">
    <div class="card-body">
      <div class="overflow-auto">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Naam</th>
              <th scope="col">Vuilbak ID</th>
              <th scope="col">Zone</th>
              <th scope="col">Adres</th>
              <th scope="col">Acties</th>
            </tr>
          </thead>
          <tbody *ngIf="binInfoList.length == 0 && loadingBins">
            <tr>
              <th colspan="9" scope="row">
                <div class="d-flex justify-content-center my-2">
                  <div class="d-flex align-items-center">
                    <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
                  </div>
                </div>
              </th>
            </tr>
          </tbody>
          <tbody *ngIf="binInfoList.length == 0 && !loadingBins">
            <tr>
              <th colspan="9" scope="row">
                <div class="d-flex justify-content-center my-2">
                  <div class="text-center">
                    <p class="mb-0 pb-0">Geen vuilnisbakken gevonden.</p>
                    <p class="link mt-0 pt-0" (click)="loadNewBins()">Vernieuwen</p>
                  </div>
                </div>
              </th>
            </tr>
          </tbody>
          <tbody *ngIf="binInfoList.length > 0 && !loadingBins">
            <tr *ngFor="let binInfo of binInfoList; let i = index">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ binInfo.name }}</td>
              <td>{{ binInfo.bin_id }}</td>
              <td>{{ binInfo.zone?.name || "N/A" }}</td>
              <td>{{ binInfo.address || "N/A"}}</td>
              <td>
                <em class="far fa-edit actions mr-4" (click)="editBinInfo(binInfo.id)"></em>
                <em class="far fa-trash-alt actions mx-3" (click)="deleteDialog(binInfo)"></em>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="iframe-container mt-5">
  <iframe src="https://testyentl.sinners.be" title="trash-dashboard"></iframe>
</div>
