<!-- Heading -->
<h1 class="mt-5 pt-5">Vuilbak Wijzigen <em class="float-end far fa-question-circle help mt-3" data-bs-toggle="collapse"
    data-bs-target="#help" aria-expanded="false" aria-controls="help"></em></h1>
<hr>

<!-- Help -->
<div class="collapse mb-3" id="help">
  <div class="card">
    <div class="card-header">Handleiding Vuilbak Wijzigen</div>
    <div class="card-body">
      <p class="my-2 p-0">In dit formulier kan een bestaande vuilbak worden gewijzigd.</p>
      <p class="my-2 p-0">Door onderaan op de knop "vuilbak wijzigen" te klikken, sla je de vuilbak op.</p>
    </div>
  </div>
</div>

<!-- Content -->
<div *ngIf="binInfo == null && loadingBin">
  <div class="text-center mt-5">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</div>
<div *ngIf="binInfo == null && !loadingBin">
  <div class="text-center mt-5">
    <p>Vuilnisbak kon niet worden geladen.</p>
  </div>
</div>
<div *ngIf="binInfo && !loadingBin">
  <div class="row">
    <div class="col-lg">
      <div class="mb-3">
        <label for="name" class="form-label">Voornaam</label>
        <input type="text" class="form-control" id="name" [(ngModel)]="binInfo.name">
      </div>
    </div>
    <div class="col-lg">
      <div class="mb-3">
        <label for="address" class="form-label">Adres</label>
        <input type="text" class="form-control" id="address" [(ngModel)]="binInfo.address">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg">
      <div class="mb-3">
        <label for="binID" class="form-label">Vuilbak ID</label>
        <input type="text" class="form-control" id="binID" readonly [(ngModel)]="binInfo.bin_id">
      </div>
    </div>
    <div class="col-lg">
      <div class="mb-3">
        <label for="zone" class="form-label">Kies zone</label>
        <select class="form-select" id="zone" [(ngModel)]="binInfo.zone_id">
          <option selected value="0">Geen zone</option>
          <option *ngFor="let zone of zones" [value]="zone.id">{{zone.name}}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col">
      <button type="button" class="btn btn-primary mt-3 text-uppercase" (click)="updateBinInfo()" *ngIf="! loading">
        <span>Vuilbak wijzigen</span>
      </button>
      <button class="btn btn-primary mt-3 text-uppercase" type="button" disabled *ngIf="loading">
        <span class="spinner-border spinner-border-sm mb-1" role="status" aria-hidden="true"></span>
        Laden...
      </button>
    </div>
  </div>
</div>
