<!-- Heading -->
<h1 class="mt-5 pt-5">Bericht Toevoegen <em class="float-end far fa-question-circle help mt-3" data-bs-toggle="collapse"
    data-bs-target="#help" aria-expanded="false" aria-controls="help"></em></h1>
<hr>

<!-- Help -->
<div class="collapse mb-3" id="help">
  <div class="card">
    <div class="card-header">Handleiding Bericht Toevoegen</div>
    <div class="card-body">
      <p class="my-2 p-0">Via dit formulier kan je een bericht toevoegen. Deze berichten worden getoond op de kiosk.</p>
      <p class="my-2 p-0">Door onderaan op de knop "bericht toevoegen" te klikken, wordt het bericht opgeslaan.</p>
    </div>

  </div>
</div>

<!-- Content -->
<div class="mb-3">
  <label for="title" class="form-label">Titel</label>
  <input type="text" class="form-control" id="title" [(ngModel)]="message.title">
</div>

<div class="mb-3">
  <label for="message" class="form-label">Bericht</label>
  <textarea class="form-control" id="message" rows="5" [(ngModel)]="message.body"></textarea>
</div>

<div class="row mb-5">
  <div class="col">
    <button type="button" class="btn btn-primary mt-3 text-uppercase" (click)="addMessage()" *ngIf="! loading">
      <span> Bericht toevoegen</span>
    </button>
    <button class="btn btn-primary mt-3 text-uppercase" type="button" disabled *ngIf="loading">
      <span class="spinner-border spinner-border-sm mb-1" role="status" aria-hidden="true"></span>
      Laden...
    </button>
  </div>
</div>
