$primary: #AC162C;
$danger: #db0021;

$navbar-light-active-color: $primary;

// Bootstrap import
@import "../node_modules/bootstrap/scss/bootstrap";

@font-face {
  font-family: 'Titillium Regular';
  src: url('/assets/fonts/titilliumweb-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Titillium Bold';
  src: url('/assets/fonts/titilliumweb-bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Titillium Light';
  src: url('/assets/fonts/titilliumweb-light.ttf') format('truetype');
}

@font-face {
  font-family: 'Titillium Italic';
  src: url('/assets/fonts/titilliumweb-italic.ttf') format('truetype');
}

body {
  font-family: 'Titillium Regular', sans-serif;

  .nav-item {
    a {
      font-size: 130%;
    }
  }

  .help {
    font-size: 80%;

    &:hover {
      color: $primary;
    }
  }

  .actions {
    font-size: 110%;
    color: #000;

    &:hover {
      color: $primary;
    }
  }
}
