<!-- Heading -->
<h1 class="mt-5 pt-5">Home <em class="float-end far fa-question-circle help mt-3" data-bs-toggle="collapse"
    data-bs-target="#help" aria-expanded="false" aria-controls="help"></em></h1>
<hr>

<!-- Help -->
<!-- TODO: handleiding invullen -->
<div class="collapse mb-3" id="help">
  <div class="card">
    <div class="card-header">Handleiding Homepagina</div>
    <div class="card-body">
      <p class="my-2 p-0">Korte handleiding met wat extra uitleg over hoe deze pagina werkt. (+ evt ondersteunende
        afbeeldingen)</p>
      <p class="my-2 p-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut iste animi id ducimus ea obcaecati
        nesciunt, suscipitest necessitatibus culpa quis odit, quod optio officia sequi amet laboriosam consequatur
        deleniti.</p>
      <p class="my-2 p-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut iste animi id ducimus ea obcaecati
        nesciunt, suscipitest necessitatibus culpa quis odit, quod optio officia sequi amet laboriosam consequatur
        deleniti.</p>
      <p class="my-2 p-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut iste animi id ducimus ea obcaecati
        nesciunt, suscipitest necessitatibus culpa quis odit, quod optio officia sequi amet laboriosam consequatur
        deleniti.</p>
    </div>

  </div>
</div>



<!-- Content -->
<div class="d-grid home-card mb-3" *ngIf="groendienstRole">
  <div class="card">
    <div class="mx-5">
      <div class="card-body text-center py-5">
        <h2 class="h3 mb-4">Groendienst</h2>
        <table class="table table-hover text-start">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Naam</th>
              <th scope="col">Vuilbak ID</th>
              <th scope="col">Zone</th>
              <th scope="col">Adres</th>
            </tr>
          </thead>
          <tbody *ngIf="binInfoList.length == 0 && loadingBins">
            <tr>
              <th colspan="5" scope="row">
                <div class="d-flex justify-content-center my-2">
                  <div class="d-flex align-items-center">
                    <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
                  </div>
                </div>
              </th>
            </tr>
          </tbody>
          <tbody *ngIf="binInfoList.length == 0 && !loadingBins">
            <tr>
              <th colspan="5" scope="row">
                <div class="d-flex justify-content-center my-2">
                  <p>Geen vuilnisbakken gevonden.</p>
                </div>
              </th>
            </tr>
          </tbody>
          <tbody *ngIf="binInfoList.length > 0 && loadingBins">
            <tr *ngFor="let binInfo of binInfoList; let i = index">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ binInfo.name }}</td>
              <td>{{ binInfo.bin_id }}</td>
              <td>{{ binInfo.zone?.name || "N/A" }}</td>
              <td>{{ binInfo.address || "N/A"}}</td>
            </tr>
          </tbody>
        </table>

        <a (click)="redirectTo('/groendienst/dashboard')" class="btn btn-primary btn-lg  text-uppercase mt-4">Dashboard
          groendienst</a>
      </div>
    </div>

  </div>
</div>

<div class="d-grid home-card mb-3" *ngIf="participatieRole">
  <div class="card">
    <div class="mx-5">
      <div class="card-body text-center py-5">
        <h2 class="h3 mb-4">Participatie</h2>
        <table class="table table-hover text-start">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Titel</th>
              <th scope="col">Startdatum</th>
              <th scope="col">Einddatum</th>
              <th scope="col">Aangemaakt door</th>
              <th scope="col">Aangemaakt op</th>
            </tr>
          </thead>
          <tbody *ngIf="surveys.length == 0 && loadingSurveys">
            <tr>
              <th colspan="6" scope="row">
                <div class="d-flex justify-content-center my-2">
                  <div class="d-flex align-items-center">
                    <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
                  </div>
                </div>
              </th>
            </tr>
          </tbody>
          <tbody *ngIf="surveys.length == 0 && !loadingSurveys">
            <tr>
              <th colspan="6" scope="row">
                <div class="d-flex justify-content-center my-2">
                  <div class="d-flex align-items-center">
                    <p>Geen enquêtes gevonden.</p>
                  </div>
                </div>
              </th>
            </tr>
          </tbody>
          <tbody *ngIf="surveys.length > 0 && ! loadingSurveys">
            <tr *ngFor="let survey of surveys; let i = index">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ survey.name }}</td>
              <td>{{ survey.start_date | date:'dd-MM-yyyy' }}</td>
              <td>{{ survey.end_date | date:'dd-MM-yyyy' }}</td>
              <td>{{ survey.user.first_name + ' '+ survey.user.last_name }}</td>
              <td>{{ survey.created_at | date:'dd-MM-yyyy' }}</td>
            </tr>
          </tbody>
        </table>
        <a (click)="redirectTo('/participatie/dashboard')" class="btn btn-primary btn-lg mt-4 text-uppercase">Dashboard
          participatie</a>
      </div>
    </div>
  </div>
</div>

<div class="d-grid home-card mb-3" *ngIf="communicatieRole">
  <div class="card">
    <div class="mx-5">
      <div class="card-body text-center py-5">
        <h2 class="h3 mb-4">Communicatie</h2>
        <table class="table table-hover text-start">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Titel</th>
              <th scope="col">Toegevoegd door</th>
              <th scope="col">Toegevoegd op</th>
            </tr>
          </thead>
          <tbody *ngIf="messages.length == 0 && loadingMessages">
            <tr>
              <th colspan="5" scope="row">
                <div class="d-flex justify-content-center my-2">
                  <div class="d-flex align-items-center">
                    <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
                  </div>
                </div>
              </th>
            </tr>
          </tbody>
          <tbody *ngIf="messages.length == 0 && !loadingMessages">
            <tr>
              <th colspan="5" scope="row">
                <div class="d-flex justify-content-center my-2">
                  <div class="d-flex align-items-center">
                    <p>Geen berichten gevonden</p>
                  </div>
                </div>
              </th>
            </tr>
          </tbody>
          <tbody *ngIf="messages.length > 0 && !loadingMessages">
            <tr *ngFor="let message of messages; let i = index">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ message.title }}</td>
              <td>{{ message.user.first_name }} {{ message.user.last_name }}</td>
              <td>{{ message.created_at | date:'dd-MM-yyyy' }}</td>
            </tr>
          </tbody>
        </table>
        <a (click)="redirectTo('/communicatie/dashboard')" class="btn btn-primary btn-lg mt-4 text-uppercase">Dashboard
          communicatie</a>
      </div>
    </div>

  </div>
</div>
